<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body {
       background-color: aqua;
        text-align: center;
    }
    h2 {
        font-weight: normal;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        margin-top: -20px;
    }
    .title {
        font-size: 45px;
    }
</style>
<body>
    <h1 class="title" th:if="!${visitor}">This is my CV</h1>
    <h1 class="title" th:if="${visitor}" th:text="'Hello, ' + ${visitor} + '!'"/></h1>
    <h1 class="title" th:if="${visitor}" th:text="${visitor} + ' I hope you interested to hire me!'"/></h1>

    <h1>Basic Information</h1>
    <h2>Name: Jonathan Edwin</h2>
    <h2>Birthdate and Place: Jakarta, 28 Juli 1997</h2>
    <h2>Address: Jalan Cimanggis</h2>
    <br />
    <br />
    <h1>Education History</h1>
    <h2>Universitas Indonesia</h2>
    <h3>2016 - 2020</h3>
</body>
</html>
